{% extends 'layout.html' %}
{% block body %}

        <!--Main Home Page -->

        <div id="about" class="about-area area-padding">
          <div class="container">
            <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="section-headline text-center">
                  <h2>AQES</h2>

                </div>
              </div>
            </div>
            <div class="row">
              <!-- single-well start-->
              <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="well-left">
                  <div class="single-well">
                    <a href="#">
                        <img src="../static/img/about/misc3.jpg" alt="">
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </br></br></br></br>
      <!-- Start Help Area -->
      <div id="help" class="help-area">
        <div class="contact-inner area-padding">
          <div class="contact-overly"></div>
          <div class="container ">
            <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="section-headline text-center">
                  <h5>If you face any difficulty, please contact us at</h5>
                </div>
              </div>
            </div>
            <div class="row">
              <!-- Start contact icon column -->
              <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="contact-icon text-center">
                  <div class="single-icon">
                    <i class="fa fa-mobile"></i>
                    <p>
                      Call: +91 1234567890<br>
                    </p>
                  </div>
                </div>
              </div>
              <!-- Start contact icon column -->
              <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="contact-icon text-center">
                  <div class="single-icon">
                    <i class="fa fa-envelope-o"></i>
                    <p>
                      Email: help.aqes@iiit.ac.in<br>
                    </p>
                  </div>
                </div>
              </div>
              <!-- Start contact icon column -->
              <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="contact-icon text-center">
                  <div class="single-icon">
                    <i class="fa fa-map-marker"></i>
                    <p>
                      Location: IIIT Hyderabad<br>
                      <span>500032, Telangana, India</span>
                    </p>
                  </div>
                </div>
              </div>
            </div>
            
        </div>
        </div>
      </div>

      
      </div>
    <!-- End Contact Area -->

{% endblock %}
